.barra_nav
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    border-bottom: 3px solid rgb(49, 49, 49);
    border-right: 3px solid rgb(49, 49, 49);
    border-radius: 6px;

    padding: 8px;
}

.barra_nav > *
{
    margin: 5px;
}