@font-face 
{
    font-family: 'Silkscreen';
    src: url("../Fonts/slkscr.ttf");
}

body
{
    background-color: rgb(119, 91, 19);
    text-align: center;
}

.seccion_principal
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}