.music_container
{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;

    font-family: "Silkscreen";
    font-size: 24px;

    background-color: greenyellow;
    border-bottom: 3px rgb(2, 236, 2) solid;
    border-right: 3px rgb(2, 236, 2) solid;
    border-radius: 8px;
}
.music_reproductor
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.music_reproductor .music
{
    margin: 5px;
    padding: 5px;

    font-size: 16px;

    background-color: rgb(138, 197, 49);
    border-bottom: 3px solid rgb(111, 158, 40);
    border-right: 3px solid rgb(111, 158, 40);
    border-radius: 4px;
}